#content {
    position: relative;
    z-index: 16;
    left: 10%;
    width: 60%;
    min-height: 100%;
    opacity: 0.95;
}

#content .post {
    padding: 36px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}


#content .postTitle {
    text-align: center;
    color: #519cff;
    padding-bottom: 0;
    font-size: 24px;
}

#content .postInfo {
    text-align: center;
    color: #a39e9e;
}


#content a,
#content a:visited {
    position: relative;
    color: var(--color-hl2);
    top: 0;
    transition: 0.5s;
}

#content a:hover {
    position: relative;
    top: -3px;
    color: var(--color-hl1);
    transition: 0.5s;
}

#content .post ul ,
#content .post ol{
    line-height: 30px;
}

#content .post ul li ,
#content .post ol li {
    line-height: 30px;
}