#content {
    position: relative;
    z-index: 16;
    left: 10%;
    width: 60%;
    min-height: 100%;
    opacity: 0.95;
}

#content .post{
    padding: 36px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}


#content .postTitle {
    text-align: center;
    color: #519cff;
    padding-bottom: 0;
}
#content .postInfo {
    text-align: center;
    color: #a39e9e;
}


#content a,
#content a:visited {
    position: relative;
    color: #d08897;
    top: 0;
    transition: 0.5s;
}

#content a:hover {
    position: relative;
    top: -3px;
    color: #d08897;
    transition: 0.5s;
}
