#container {
  width: 100%;
  height: 100%;
}
.outer {
  margin-top: 50px;
  right: 0;
  padding: 0 50px;
  transition: margin 0.3s ease-in-out;
}
.outer-sidebar {
  margin-left: 300px;
}
.outer-fullwidth {
  margin-left: 150px;
  margin-right: 150px;
}
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease;
}
@media (max-width: 768px) {
  .outer-sidebar {
    margin-left: 50px;
  }
  .sidebar {
    width: 200px;
  }
  .outer {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .outer {
    padding: 0 10px;
  }
  .sidebar {
    width: 180px;
  }
}
