@import url("footer.css");
@import url("header.css");
@import url("sidebar.css");
@import url("archive.css");
@import url("index.css");
@import url("title.css");

:root {
    --color-pr: #519cff;
    --color-hl1: #d08897;
    --color-hl2: #daa0ac;
    --color-hl3: #e3b8c2;
    --color-hl4: #edcfd7;
    --color-hl5: #f6e7ec;
}

* {
    padding: 0;
    margin: 0;
    /* font-size: 16px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Console; */
    font-family: Consolas, 'SourceHanSerifCN-VF';
}


a {
    text-decoration: none;
    font-family: 'SourceHanSerifCN-VF';
    color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 20px 20px 5px 0px;
    font-family: 'SourceHanSerifCN-VF';
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 17px
}

p {
    padding: 5px 0px;
    font-size: 16px;
    line-height: 40px;
    font-family: 'SourceHanSerifCN-VF';
}

img {
    max-width: 100%;
    border-radius: 10px;
}

strong {
    line-height: 30px;
}

blockquote {
    margin: 16px 0 16px 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}


pre {
    margin: 10px 0px;
}

pre code {
    border-radius: 10px;
}

/* 表格样式开始 */
th,
td {
    padding: 5px;
}

table {
    position: relative;
    width: 100%;
    border-radius: 10px;
    /* border-collapse: collapse; */
    overflow: hidden;
}

tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: var(--color-hl4);
}

tr:nth-child(odd) {
    background-color: var(--color-hl5);
    /* 设置奇数行背景颜色 */
}

/* 表格样式结束 */
@font-face {
    font-family: 'SourceHanSerifCN-VF';
    src: url("/ttf/SourceHanSerifCN-VF.ttf");
}

body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    /* background-color: #f5f5f5; */
    background-attachment: fixed;
    /* background-image: url("/images/bg.jpg"); */
    /* background-image: url("https://t.mwm.moe/pc/"); */
    /* background-image: url("https://www.loliapi.com/acg/pc/"); */
    background-image: url("https://t.mwm.moe/fj");
    /* background-image: url("https://www.dmoe.cc/random.php"); */
    background-size: cover;
    background-position: center;
}

/* 美化滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}

/*滚动条 阴影~圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.7);
    border-radius: 10px;
    background-color: #f5f5f5;
}

/*滑块 阴影~圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.7);
    background-color: rgb(149, 147, 147);
}

.opacity {
    opacity: 0.5;
}

.opacity>.avatar {
    opacity: 1;
}

.blur {
    backdrop-filter: blur(10px);
}

.shadow {
    box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.2);
}

.hide {
    display: none !important;
}