#title{
    height: 200px;
    background-color: var(--color-pr);
    /* background-color: #519cff; */
    /* opacity: 0.5; */
}

#title-text{
    position: relative;
    top: 90px;
    text-align: center;
    color: #fff;
}
#title-text h1{
    padding: 0;
    font-size: 28px;
}